body {
    background-color: #f5f5f5;
}

.top-bar{
    background-color: #121e29;
    padding: 10px 0;
}

.top-bar-inner a {
    text-decoration: none;
    color: gray;
}

.top-bar-inner ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.top-bar-inner li {
    display: inline;
    margin-right: 5px;
    color: gray;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

.nav-bar ul {
    list-style: none;
    padding: 0px;
    margin-top: 45px;
}

.nav-bar li {
    display: inline;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    margin-right: 3.5px;
}

.nav-bar li:hover {
    background-color: #ff8903;
    cursor: pointer;
}

.title {
    margin-top: 10px;
}

.hero {
    position: relative;
}

.SSS {
    padding-bottom: 20px;
    color: darkgray;
}

.more {
    background-color: #203447;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}

.more:hover {
    background-color: #ff8903;
    cursor: pointer;
}

.SON {
    background: #355578;
    background: linear-gradient(to bottom, #355578 0%,#101a24 100%);
    padding-bottom: 40px;
    color: white;
}

.SON-inner h4 {
    margin: 0px;
    color: white;
}

.services ul {
    padding: 15px;
    color: white;
}

.op ul {
    padding: 15px;
    list-style-image: url(dot.jpg)
}

.date {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    color: white;
}

.news ul {
    list-style: none;
    padding: 0px;
    color: white;
}

.bottom-bar {
    background-color: #091014;
    padding-bottom: 20px;
}

.bottom-bar-inner a {
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
    color: gray;
}

.bottom-bar-inner a:hover {
    background-color: #203447;
    cursor: pointer;
}

.bottom-bar-inner p {
    color: gray;
}